<ion-view view-title="Veilles">
  <ion-content>
    <ion-list>
      <div class="list list-inset">
        <div id="veilles" class="item" ng-repeat="veille in veilles" ng-click="selectionVeille(veille)">
          <p>{{veille.title}}</p>
        </div>
      </div>

      <div class="spacer"></div>

      <div ng-show="veilleSelectionne != null">
        <div class="card">
          <div class="item item-divider">
            <h3>{{veilleSelectionne.title}}</h3>
          </div>
          <div class="item item-text-wrap">
            <p>{{veilleSelectionne.description}}</p>
          </div>
          <div id="vfooter" class="item item-divider row">
            <div class="col">{{veilleSelectionne.user[0].firstname}} {{veilleSelectionne.user[0].name}}</div>
            <div class="col">{{veilleSelectionne.user[0].email}}</div>
            <div class="col">{{veilleSelectionne.date}}</div>
          </div>
        </div>
      </div>

    </ion-list>
  </ion-content>
</ion-view>
