<ion-view view-title="Users">
  <ion-content>
    <ion-list>
      <ul class="list">
        <li ng-repeat="user in users" class="item">{{user.firstname}} {{user.name}}</li>
      </ul>
    </ion-list>
  </ion-content>
</ion-view>
