<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Veilles Tab -->
  <ion-tab title="Veilles" icon-off="ion-android-desktop" icon-on="ion-android-desktop" href="#/tab/veilles">
    <ion-nav-view name="tab-veilles"></ion-nav-view>
  </ion-tab>

  <!-- Users Tab -->
  <ion-tab title="Users" icon-off="ion-person" icon-on="ion-person" href="#/tab/users">
    <ion-nav-view name="tab-users"></ion-nav-view>
  </ion-tab>

</ion-tabs>
